@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/images/catmash.PNG"  class="img-fluid"/>
    <br />
    <br />
    <p>Cette app Web est développée avec le Framework ASP.NET Core 3.1 et qui fait appel à un web API REST.</p>
    <p>On peut voter en cliquant sur le menu Vote. Et ensuite on peut choisir l'un des deux chats affiché aléatoirement.</p>
    <p>La page Scores affiche les résultats des votes.</p>
</div>
